body{
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

body{
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

body{
  margin: 0;
}

text {
  color: white;
}

p {
  color: white;
}

a {
  color: rgb(255, 24, 224);
}

.mainContainer{
  width:100%;
  max-width: 900px;
  outline: 1px solid black;
  margin: auto;

}

.heading{
  text-align: center;
  margin: 100px 0;
  /* background-color: beige; */
}

.articleWrapper{
  width:100%;
  max-width: 700px;
  outline: 1px solid black;
  margin: auto;
  padding: 0 5px;
  box-sizing: border-box;
}

#imageWrapper img{
  width: 50%;

}
/* .graphBox img{
  width: 50%;
  display: flex;
} */
.graphBox .caption{
  font-size: 0.8em;
  margin:0;
}
.graphBox{
  margin: 80px 0;

}


#viz-stickyBox{
  position: sticky;
  top:30px;
  z-index: -1;
}

.spacer-10{
  height:10vh;
  /* background-color: rgba(255, 166, 0, 0.34); */

}
.spacer-50{
  height:50vh;
  /* background-color: rgba(255, 166, 0, 0.34); */

}
.spacer-100{
  height:50vh;
  /* background-color: rgba(255, 166, 0, 0.34); */
}

.song-label {
  font-size: 1.2em;
  font-weight: bold;
  margin: 50px 0 10px;
  padding-top: 30%;
}

#slider-container {
  width: 50%;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}

#date-slider {
  width: 100%;
}